<div id="extended-table">
	<div class="title">
		<h1>Conversions</h1>
	</div>
	<div class="controls">
		<h2><a [routerLink]="['/conversions/create']" class="btn btn-default">+ New Conversion</a></h2>
	</div>

	<div class="table-responsive-vertical shadow-z-1"></div>
	<table id="table" class="table table-hover table-mc-light-blue">
		<thead>
			<tr>
				<th>Name</th>
				<th>Created At</th>
				<th>Type</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of conversions$ | async" data-id={{row._id}}>
				<td data-title="Name">{{row.source.name}}</td>
				<td data-title="Created At">{{ row.createdAt | date:'MM'}}/{{ row.createdAt | date:'d'}}/{{ row.createdAt | date:'y'}} {{row.createdAt | date:'HH'}}:{{row.createdAt
					| date:'mm'}}</td>
				<td data-title="Type" class="text-center"><span class="dark">{{row.source.convertTo | uppercase}}</span></td>
				<td data-title="Status">{{row.status | capitalize}}</td>
				<td data-title="" class="text-center">
					<a *ngIf="!row.source.conversion" class="btn btn-default" [class.disabled]="true">Download</a>
					<a *ngIf="row.source.conversion" class="btn btn-default" target="_self" href="{{env.api}}/api/documents/convertion?fn={{row.source.conversion.fileId}}.{{row.source.conversion.type}}">Download</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>