<form [formGroup]="createConversionForm" (ngSubmit)="createConversion($event)">
	<h1>New conversion</h1>
	<label for="name">Name</label>
	<input formControlName="name" type="text" id="name">
	<quill-editor [(ngModel)]="editor" [ngModelOptions]="{standalone: true}"></quill-editor>
	<div class="right">
		<select formControlName="type">
			<option value="html">Generate HTML</option>
			<option value="pdf">Generate PDF</option>
		</select>
	<button type="submit" class="btn">Request conversion</button></div>
</form>